@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@400;500;600&display=swap');

*, *::after, *::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    
}
html {
    box-sizing: border-box;
}
body {
    font: 0.9em/1.2 'Noto Sans Mono', monospace;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-body {
    width: 95%;
    max-width: 1200px;
    margin: 2em auto;
}
h2,h3,h4,select {
    margin-bottom: 1.5rem;
}
.grid-wrapper {
    width: 700px;
    height: 700px;
    background-color: rgb(250, 250, 250);
    box-shadow: 0 0 0 3px #000;
}
.container {
    display: grid;
    border: none;
    user-select: none;
}
/* index = 8 */
.container > div {
    transition: background-color 0.07s cubic-bezier(0, 0.34, 0.57, 0.01);
}
.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.right-panel {
    flex: 0 1 auto;
    display: flex;
    max-width: 170px;
    height: 700px;
    flex-flow: column nowrap;
    border-left: 2px solid rgba(0, 0, 0, 0.5);
    margin-left: 1.5rem;
    padding-left: 1.5rem;
    margin-top: 2.6rem;
}

button {
    background-color: rgb(233, 233, 233);
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: .9rem;
    margin-bottom: 1rem;
    padding: 0.5rem 1.2rem;
    position: relative;
    border-radius: 2rem;
    text-align: center;
    border: none;
    transition: all .4s cubic-bezier(0.215, 0.610, 0.355, 1), transform 0.1s;
}

.active-mode {
    transform: scale(0.96, .96);
    top: 2px;
    color: rgb(255, 255, 255);
    background-color: rgb(80, 80, 80);
    box-shadow: 0 0 2px 2px rgb(0, 0, 0),
        inset 0 0 0px 2px rgb(61, 61, 61);
}
button:hover {
    background-color: rgb(32, 32, 32);
    color: aliceblue;
}
.action:active{
    transform: scale(.95, .95);
}

.mode-option {
    margin-bottom: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.mode-option > input {
    max-width: 35px;
    height: 28px;
}
.mode-option-2 {
    margin-bottom: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

input[type='number'] {
    max-width: 50px;
    font-size: medium;
}

.sep {
    flex: 1 0 auto;
}

footer {
    background-color: rgb(26, 26, 26);
    color: rgb(255, 255, 255);
    padding: 0.8rem;
    margin-top: auto;
    text-align: center;
}
